/bin
/target
.project
.classpath
.settings
dacapo
test.tmp.out

# Remove dynamically generated pom
dependency-reduced-pom.xml

# Ignore vim .swp files
**/*.swp


# Ignore intellij files
*.iml
.idea

# Compiled class files
**/target/*
*.class

# Package files
*.jar
*.war
*.ear



























