dist: trusty
language: java
script: jdk_switcher use oraclejdk8; export INST_HOME=$JAVA_HOME/jre; $JAVA_HOME/bin/java -version;
  mvn -Ddacapo.skip=false -B -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn install
deploy:
  provider: script
  skip_cleanup: true
  script: cd $TRAVIS_BUILD_DIR; bash deployment/deploy.sh
  on:
    branch: master
env:
  global:
  - secure: biE9BxIfRYdAy0V4pcC+E266kX6qmPoBiy+nWUAO5QEpddIko3G8IUkaxFmeQa9ePNyjqHaygqBNFRk29vLTYmIEVtZrOchXnf9JCD+aLdnnhStZsiGaQZNOVbM5+U6hLD51+CI2Fwrm/06+x2HQnqFJzEWd2rAUE+QNok0xKtM=
  - secure: DnEUm7IYhVJRKw384oUbKpRDFPZKiSNm7IcyBctDj7KbEIgV2ed20F5YNjpW7dJZ/YB6e06FFhnDORUvNxiz5M6/JkA8DZqMXAVqxSZWRPKHMH6TdUM+NsGpP2L5PAAX5MltpjzfDd/dKI5AT5D2C6CGY0jAwTO5o6lrLpEVf80=
  - secure: UCM2HPlc/ivDMxtxicEXF91STHcLjWq4l5jVRr9T/ahWo1UloFOFlIqp3PwAUI/hdoz3w6iGcWFKi2x+9s7/0lPRMbz7miLDSkEsVr9SxQBdCPe4bs26HKeaXTpd9ughzif6DHEcCCAD8Jm+tj2moE+T9LlxCYnzrT2vo0Pa1bU=
  - secure: DWah08k4GvqOmx6eg5ABC+BlpyxlP88pjbzwSRbBl05LVXa/h8xhsrfUCD9K2/rsH4l063cYieTlD04ss5q640yNm4pRlOfrIE3WXEKDDiT8EVBoNKI3XyDpCp+uMhqMdfBEeZxO2ovIqxeO7YuLAizrSIscDZIVDeG8UnLfZYc=
dd:
  secure: U3fyPVgjVPvUxY9C+vOTpT65BWqF9y2b+oMlLgR7wR+buNGY/A5CyJwC7l2p6cx92AD96Ch8PLQXOV6a0EyjV3vdpSvpB70+jQVafq6ZEXnPoah/mfsDzRk7hIsOfoPM+f1AuBFI37SY6COuH59M7QCzHV9rn+g+wPovZiFhe2U=
