name: Build Phosphor, run the integration test suite

on: push
jobs:
  build-and-test:
    runs-on: self-hosted
    env:
      JAVA_HOME: /usr/lib/jvm/java-11-openjdk-amd64
    strategy:
      fail-fast: false
      matrix:
#        java: [ '8', '11', '16', '17' ]
        java: [ '8', '16' ]
    steps:
      - uses: actions/checkout@v2
      - name: Build Phosphor
        run: mvn -B -DskipTests install
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - name: Run tests
        run: mvn install
